{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
 Redirecting to homepage...
    <script>
        t1 = window.setTimeout(function(){ window.location = "{{ path('homepage') }}"; },3000)
    </script>
{% endblock fos_user_content %}
